.home-text

  %p
    <b>SunRoofer</b> aggregates the solar capacity of sets of roofs. You can see the square footage, kilowatt potential, hours of sunlight per year, and other info about, for instance, the combined roofs of every school in a district, all hospitals in a region, or any other arbitrary set of buildings.
    
  %p
    Much of the data comes from Google's amazing #{link_to 'Project Sunroof', 'https://www.google.com/get/sunroof', target: "_blank"}, hence the name.
    
  %p
    Email #{mail_to 'John McGrath', 'john@fnnny.com'} for feature requests, bug reports, more info, or if you have a set of roofs you'd like analyzed.
    
  %h1
    Roof Sets
  
  %dl
    - if @roof_sets
      - @roof_sets.each do |roof_set|
        %dt
          = link_to roof_set.name, roof_set
        %dd
          = roof_set.description
    - else
      %dt
        None!