.home-text

  %p
    <b>SunRoofer</b> aggregates solar information across multiple roofs--every school in a district, all hospitals in a region, or any other arbitrary set of buildings. Much of the data comes from Google's amazing #{link_to 'Project Sunroof', 'https://www.google.com/get/sunroof', target: "_blank"}, hence the name.
    
  %p{style: "margin-top: 25px;"}
    This just launched in November 2017, more features are planned. Please feel free to email for feature requests, more info, or if you have a set of roofs you'd like analyzed: John McGrath, #{mail_to 'john@fnnny.com', 'john@fnnny.com'}
  
  %ul{style: "margin-top: 30px;"}
    - @roof_sets.each do |roof_set|
      %li
        %b
          = link_to roof_set.name, roof_set
        %div{style: "font-size: 16px;"}
          = roof_set.description

  