body {
  padding-top: 75px;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
}

.actions {
  padding-top: 20px;
}

.devise-links {
  margin: 10px 0 10px 0;
}

.field {
  //margin: 20px 0 -5px 0;
  margin-top: 20px;
}

.roof_sets {
  width: 1100px;
  .building-list {
    width: 475px;
    float: left;
  }
  .map {
    width: 600px;
    float: right;
  }
  #map {
    width: 600px;
    height: 400px;
    border: 1px solid grey;
  }
  td {
    padding: 5px 5px 5px 10px;
    font-size: 12px;
  }
  
  // tablesort styles from: https://raw.githubusercontent.com/tristen/tablesort/gh-pages/tablesort.css
  th {
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    font-weight: normal;
  }
  th[role=columnheader]:not(.no-sort) {
  	cursor: pointer;
  }
  th[role=columnheader]:not(.no-sort):after {
  	content: '';
  	float: right;
  	margin-top: 7px;
  	border-width: 0 4px 4px;
  	border-style: solid;
  	border-color: #404040 transparent;
  	visibility: hidden;
  	opacity: 0;
  	-ms-user-select: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  }
  th[aria-sort=ascending]:not(.no-sort):after {
  	border-bottom: none;
  	border-width: 4px 4px 0;
  }
  th[aria-sort]:not(.no-sort):after {
  	visibility: visible;
  	opacity: 0.4;
  }
  th[role=columnheader]:not(.no-sort):hover:after {
  	visibility: visible;
  	opacity: 1;
  }
}