body {
  padding-top: 75px;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
}

.actions {
  padding-top: 20px;
}

.devise-links {
  margin: 10px 0 10px 0;
}

.field {
  //margin: 20px 0 -5px 0;
  margin-top: 20px;
}